<h1>Editing Recruitment</h1>

<%= render 'form', recruitment: @recruitment, staff: @staff, occupations: @occupations %>

<%= link_to 'Show', @recruitment %> |
<%= link_to 'Back', recruitments_path %>]