<h1>New Recruitment</h1>
<%# check_loginedで作った@staffをパラメータ経由で_formに渡す %>
<%= render 'form', recruitment: @recruitment, occupations: @occupations, staff: @staff%>
<%#= render partial: 'form', locals: {recruitment: @recruitment, staff: @staff}, collection: @occupations%>

<%#= render 'form', recruitment: @recruitment, staff: @staff%>

<%= link_to 'Back', recruitments_path %>
