<h1>New Recruitment</h1>
<%# check_loginedで作った@staffをパラメータ経由で_formに渡す %>
<%= render 'form', recruitment: @recruitment, occupations: @occupations, staff: @staff%>
<%#= render partial: 'form', locals: {recruitment: @recruitment, staff: @staff}, collection: @occupations%>

<%#= render 'form', recruitment: @recruitment, staff: @staff%>

<%= link_to '募集要項一覧画面', recruitment_list_index_path, data: {confirm: '入力内容が破棄されますがよろしいですか？'} %>
