<p id="notice"><%= notice %></p>

<h1>応募一覧</h1>


<% @entries.each do |entry| %>
  <p>
    <%= link_to "#{entry.recruitment.title}", recruitment_path(entry.recruitment_id) %>
    <%= show_status(entry) %>
    <%= entry.recruitment.deadline %>
  </p>
<% end %>

