<div class="container">

        <h1 style="text-align:center;">応募フォーム</h1>
    <div class="row justify-content-center">
        <%= render 'form', entry: @entry, recruitment: @recruitment, user: @user %>
    </div>
</div>