<%# if teacher.followings.where(company_id: company).exists? %>
<% if following %>
  <div class = "btn">
    <%= link_to('フォロー中', following_path(following, company_id: company), method: :delete, class: :'btn btn-success float-right', id: "#{company.id}", remote: true) %>
  </div>
<% else %>
  <div class = "btn">
    <%= link_to('フォローする', followings_path(company_id: company), method: :post, class: :'btn btn-success float-right', id: "#{company.id}", remote: true) %>
  </div>
<% end %>

<div class = "btn">
  <%= link_to('話を聞いてみたい', following_path(company), method: :delete, class: :'btn btn-success float-right', id: "#{company.id}", remote: true) %>
</div>