<% if following %>
  <div class = "btn">
    <%= link_to('フォロー中', following_path(following, company_id: company), method: :delete, class: :'btn btn-success float-right', id: "follow#{company.id}", remote: true) %>
  </div>
<% else %>
  <div class = "btn">
    <%= link_to('フォローする', followings_path(company_id: company), method: :post, class: :'btn btn-success float-right', id: "follow#{company.id}", remote: true) %>
  </div>
<% end %>

<% if chat %>
  <div class = "btn">
    <%= link_to('企業に連絡しました', room_path(chat, company_id: company), method: :delete, class: :'btn disabled float-right', id: :chat_btn, remote: true) %>
  </div>
<% else %>
  <div class = "btn">
    <%= link_to('話を聞いてみたい', rooms_path(company_id: company), method: :post, class: :'btn btn-success float-right', id: :chat_btn, remote: true) %>
  </div>
<% end %>