<% @entries.each do |entry| %>
  <%= link_to("#{entry.user.name}様, #{entry.created_at}", entry_path(entry)) %>
<% end %>
<% if @entries.blank? %>
  <p>まだ応募はありません</p>
<% end %>
<p><%= link_to '戻る', :back %></p>