/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//  *= require_tree .
//  *= require_self
 */

 
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
body{
    color: #333;
    font-family: Meiryo;
    letter-spacing: 0.5px;
}
.container{
    padding-top: 30px;
    width: 992px;
}

// @media(min-width: 1024px){
// .container{
//     padding-top: 200px;
//     width:991px;
// }
// }

// @media (min-width: 768px){
//     .card {
//         width:500px;
//     }
// }
.col-md-8{
    padding: 0px;
}
@media (max-width: 767px){
    .container {
        max-width: 100%;
    }
}

.nav-link{
    color:white;
}
.navbar{
    background-color:rgb(102, 186, 255); 
    height: 70px;
    font-size: 14px;
}
.navbar-brand{
    font-size:34px;
    color:white;
    margin-left: 5%;
}
.nav-link-left{
    margin-left: 100px;
}


i{
    color:white;
}
.sidebar{
    font-size:14px;
}
.sidebar-tag{
    font-size:10px;
    color:white;
}
.sidebar-search-btn{
    margin: auto;
}
.badge-info{
    background-color:rgb(102, 186, 255);
    margin-top: 30px;
    padding: 5px;
}
// .test{
//     margin: 10px;
// }